{
    "tabWidth": 4,
    "endOfLine": "auto",
    "singleQuote": true,
    "jsxSingleQuote": true,
    "arrowParens": "avoid",
    "semi": false,
    "trailingComma": "es5",
    "printWidth": 100,
    "overrides": [
        {
            "files": "{**/*,*}.{css,scss,sass,less,js,jsx,ts,tsx,json,md,mdx}",
            "excludeFiles": [
                ",**/node_modules/**",
                ",**/dist/**",
                ",**/build/**",
                ",**/coverage/**",
                ",**/public/**",
                ",**/*.d.ts",
                ",**/deployment/**"
            ],
            "options": { "requirePragma": false }
        }
    ]
}
